.header {
  font-size: 1.2rem;
  font-weight: bold;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 3px;
  border-color: #4e4034;
  border-radius: 10px;
  background-color: #cbb9a4;
  width: 150px;
  height: 110px;
}

/* Make the "North" text bigger */
.card strong {
  font-size: 1.1rem;
  margin-top: 4px; /* Small gap between icon and text */
  display: block; /* Ensures it takes its own line */
}

/* Optional: Make the count stand out */
.card div:nth-of-type(2) {
  font-size: 0.8rem;
  font-weight: bold;
}

.card div:nth-of-type(3) {
  font-size: 0.7rem;
  font-weight: bold;
}